@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 100;
  src: local("Lato Hairline Italic"),local(Lato-HairlineItalic),url(//fonts.gstatic.com/s/lato/v14/S6u-w4BMUTPHjxsIPx-oPCY.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/S6u-w4BMUTPHjxsIPx-oPCI.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/S6u-w4BMUTPHjxsIPx-oPCQ.woff) format("woff")
}

@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"),local(Lato-LightItalic),url(//fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI9w2_Gwfp.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI9w2_Gwft.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI9w2_Gwfr.woff) format("woff")
}

@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"),local(Lato-Italic),url(//fonts.gstatic.com/s/lato/v14/S6u8w4BMUTPHjxsAXC-u.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/S6u8w4BMUTPHjxsAXC-q.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/S6u8w4BMUTPHjxsAXC-s.woff) format("woff")
}

@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 700;
  src: local("Lato Bold Italic"),local(Lato-BoldItalic),url(//fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI5wq_Gwfp.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI5wq_Gwft.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI5wq_Gwfr.woff) format("woff")
}

@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 900;
  src: local("Lato Black Italic"),local(Lato-BlackItalic),url(//fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI3wi_Gwfp.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI3wi_Gwft.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI3wi_Gwfr.woff) format("woff")
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"),local(Lato-Hairline),url(//fonts.gstatic.com/s/lato/v14/S6u8w4BMUTPHh30AXC-u.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/S6u8w4BMUTPHh30AXC-q.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/S6u8w4BMUTPHh30AXC-s.woff) format("woff")
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"),local(Lato-Light),url(//fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwiPHQ.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwiPGQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwiPHw.woff) format("woff")
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"),local(Lato-Regular),url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWg.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format("woff")
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"),local(Lato-Bold),url(//fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPHQ.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPHw.woff) format("woff")
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"),local(Lato-Black),url(//fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwiPHQ.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwiPGQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwiPHw.woff) format("woff")
}

header {
  padding: 20.8px;
  padding: 1.3rem
}

.enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgb(124, 235, 179);
}

.header {
  font-size: 27.2px;
  font-size: 1.7rem;
  background: linear-gradient(130deg, 
    rgba(252, 3, 7, .5) 12%, 
    rgba(252, 132, 3, .4) 16%, rgba(252, 132, 3, .4) 26%, 
    rgba(252, 232, 3, .3) 30%, rgba(252, 232, 3, .3) 40%, 
    rgba(48, 252, 3, .3) 44%, rgba(48, 252, 3, .3) 54%, 
    rgba(3, 252, 252, .2) 58%, rgba(3, 252, 252, .2) 68%, 
    rgba(3, 15, 252, .2) 72%, rgba(3, 15, 252, .1) 83%, 
    rgba(236, 3, 252, .1) 87%, rgba(236, 3, 252, .1) 100%);
}

.logo {
  margin-right: auto;
}

.authentificationButtons {
  background-color: rgba(222, 232, 250, .5);
  padding: 8px;
  padding: 0.5rem;
  margin-left: 8px;
  margin-left: 0.5rem;
  border-radius: 25px;
  font-size: 20.8px;
  font-size: 1.3rem;
  color: rgb(37, 29, 245);
  cursor: pointer;
  height: 32px;
  height: 2rem;
  line-height: 32px;
  line-height: 2rem;
  border: 1px solid #a2f5ef;
}

.authentificationButtons:hover {
  text-decoration: underline;
}

#enterForm {
  display: none;
  padding: 16px 0;
  padding: 1rem 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.input {
  font-size: 19.2px;
  font-size: 1.2rem;
  margin-left: 8px;
  margin-left: 0.5rem;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 4px;
  padding-left: 15px;
  width: 176px;
  width: 11rem;
  height: 40px;
  height: 2.5rem;
}

.registration {
  width: 100vw;
  display: table-cell;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
}

.registration form {
    font-size: 27.2px;
    font-size: 1.7rem;
    width: 288px;
    width: 18rem;
    padding: 32px;
    padding: 2rem;
    height: 416px;
    height: 26rem;
    margin: 0 auto;
    border: 2px solid #a2f5ef;
    background-color: rgba(255, 255, 255, .4);
  }

.registrationInput {
  font-size: 19.2px;
  font-size: 1.2rem;
  margin: 24px 0;
  margin: 1.5rem 0;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 4px;
  padding-left: 15px;
  width: 232px;
  width: 14.5rem;
  height: 40px;
  height: 2.5rem;
}

.registrationButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  font-size: 40px;
  font-size: 2.5rem;
  text-align: center;
  padding: 16px;
  padding: 1rem;
  color: #f7b63b;
  font-style: italic;
}

.list {
  padding: 0 20.8px;
  padding: 0 1.3rem;
  font-size: 27.2px;
  font-size: 1.7rem;
}

.listName {
  background-color: rgba(222, 232, 250, .5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  border-radius: 4px;
  padding: 8px 0;
  padding: 0.5rem 0;
}

.listName input:nth-child(2) {
    background-color: transparent;
    border: 0;
    height: 40px;
    height: 2.5rem;
    padding-left: 5px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1
  }

.changeListName{
  background-color: rgba(124, 235, 179, .5);
  font-size: 19.2px;
  font-size: 1.2rem;
  height: 40px;
  height: 2.5rem;
  margin-right: 3px;
  padding: 0 5px;
  border: 0;
  cursor: pointer;
  border-radius: 25px;
  line-height: 40px;
  line-height: 2.5rem;
}

.deleteList{
  background-color: rgba(252, 3, 3, .8);
  font-size: 19.2px;
  font-size: 1.2rem;
  height: 40px;
  height: 2.5rem;
  padding: 0 5px;
  border: 0;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 25px;
  line-height: 40px;
  line-height: 2.5rem;
}

.links {
  padding: 16px 0;
  padding: 1rem 0;
}

.addListButton {
  font-size: 64px;
  font-size: 4rem;
  margin-right: 10px;
  width: 64px;
  width: 4rem;
  height: 64px;
  height: 4rem;
  border-radius: 50%;
  background-color: rgba(124, 235, 179, .5);
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  line-height: 64px;
  line-height: 4rem;
  text-align: center;
  float: left;
}

.addListButton:hover {
  border: 2px solid #a2f5ef;
}

.lists{
  display: block;
  font-size: 24px;
  font-size: 1.5rem;
  border-radius: 25px;
  padding: 0 11.2px;
  padding: 0 0.7rem;
  margin: 0 3px 5px 0;
  background-color: rgba(222, 232, 250, .5);
  height: 32px;
  height: 2rem;
  line-height: 32px;
  line-height: 2rem;
  cursor: pointer;
  float: left;
}

.active {
  background-color: rgba(222, 232, 250, .8);
}

.products {
  margin-top: 64px;
  margin-top: 4rem;
  padding: 0 20.8px;
  padding: 0 1.3rem;
  font-size: 27.2px;
  font-size: 1.7rem;
}

.productInput {
  font-size: 22.4px;
  font-size: 1.4rem;
  background-color: rgba(222, 232, 250, .5);
  border-radius: 4px;
  padding-left: 1%;
  width: 99%;
  height: 57.6px;
  height: 3.6rem;
  font-weight: 500;
  border: 0
}

.productInput::-webkit-input-placeholder {
  color: rgb(37, 29, 245);
}

.productInput::-moz-placeholder {
  color: rgb(37, 29, 245);
}

.productInput:-ms-input-placeholder {
  color: rgb(37, 29, 245);
}

.productInput::-ms-input-placeholder {
  color: rgb(37, 29, 245);
}

.productInput::placeholder {
  color: rgb(37, 29, 245);
}

.productValueInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  background-color: rgba(222, 232, 250, .5);
  line-height: 48px;
  line-height: 3rem;
  font-size: 22.4px;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 4px;
  width: 100%;
  color: rgb(37, 29, 245);
  padding: 4.8px 0;
  padding: 0.3rem 0;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.productValueInput span {
    display: block;
    margin: 0 5px;
    white-space: nowrap;
  }

.productQuantity {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.productQuantity input[type="number"] {
    background-color: rgba(222, 232, 250, .51);
    border: 0;
    font-size: 27.2px;
    font-size: 1.7rem;
    width: 100%;
    height: 100%;
    text-align: center;
  }

.saveProduct {
  background-color: rgba(124, 235, 179, .5);
  font-size: 19.2px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 25px;
  padding: 0 4.8px;
  padding: 0 0.3rem;
  margin: 0 5px 0 5px;
}

.productsTabl {
  background-color: rgba(255, 255, 255, .5);
  width: 100%;
  border: 0;
  font-size: 32px;
  font-size: 2rem;
  padding-right: 80px;
  padding-right: 5rem;
}

.productsTable {
  background-color: rgba(255, 255, 255, .5);
  width: 100%;
  border: 0;
  font-size: 32px;
  font-size: 2rem;
  border-spacing: 0 24px;
  border-spacing: 0 1.5rem;
  padding-right: 5px;
}

.productsTable td {
    vertical-align: middle;
    border-bottom: 1px solid rgba(37, 29, 245, .5);
    padding: 0 8px 14.4px 8px;
    padding: 0 0.5rem 0.9rem 0.5rem;
  }

.deleteProduct {
  display: block;
  text-align: center;
  width: 40px;
  width: 2.5rem;
  height: 40px;
  height: 2.5rem;
  line-height: 32px;
  line-height: 2rem;
  background-color: rgba(252, 3, 3, .8);
  color: rgb(255, 255, 255);
  border-radius: 3px;
  border: 1px solid rgb(0, 0, 0);
  font-family: "Lato";
  cursor: pointer;
}

.quantity {
  height: 40px;
  height: 2.5rem;
  font-size: 24px;
  font-size: 1.5rem;
  display: table-cell;
  text-align: left;
  padding: 0 5px;
  border-radius: 20%;
  cursor: pointer;
}

.coefficient {
  max-width: 67.2px;
  max-width: 4.2rem;
}

.coefficient input[type="number"] {
    background-color: rgba(222, 232, 250, .51);
    width: 100%;
    height: 40px;
    height: 2.5rem;
    font-size: 24px;
    font-size: 1.5rem;
    text-align: center;
  }

.productName {
  word-break: break-all;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.reactProductName {
  padding: 0 10px;
  word-break: break-all;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.emptyCell {
  width: 72px;
  width: 4.5rem;
}

#indicator {
  border-radius: 50%;
  width: 24px;
  width: 1.5rem;
  height: 24px;
  height: 1.5rem;
  background-color: rgba(43, 148, 31, .8);
  margin: auto 0 0 10px;
}

.logOut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 5px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  padding-bottom: 50px
}

@media screen and (min-width: 1022px) {

header {
    margin: 0 15px
}
  }

@media screen and (max-width: 350px) {
  .listName input:nth-child(2) {
      font-size: 1.2rem
  }

html {
    font-size: 46%
}
    }

@media screen and (min-width: 351px) {
  .listName input:nth-child(2) {
      font-size: 1.7rem
  }
    }

@media screen and (min-width: 768px) {
  .products form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between
  }

.productInput {
      width: 48%
}

.productValueInput {
    width: 48%;
    margin-top: auto
}
    }

@media screen and (min-width: 351px) and (max-width: 767px) {

html {
    font-size: 60%
}
  }

@media screen and (min-width: 768px) and (max-width: 1500px) {

html {
    font-size: 80%
}
  }

@media screen and (min-width: 1501px) {

html {
    font-size: 90%
}

body {
    background-image: url(images/9.jpg)
}
  }

@media screen and (max-width: 767px) {

body {
    background-image: url(images/mob9.jpg)
}
  }

@media screen and (min-width: 768px) and (max-width: 991px) {

body {
    background-image: url(images/med9.jpg)
}
  }

@media screen and (min-width: 992px) and (max-width: 1500px){

body {
    background-image: url(images/comp9.jpg)
}
  }

@media screen and (min-width: 992px) {

#API {
    width: 992px;
    margin: 0 auto
}
  }


/*# sourceMappingURL=inventory.css.map*/