#indicator {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(43, 148, 31, 0.8);
  margin: auto 0 0 10px;
}

.logOut {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}