.registration {
  width: 100vw;
  display: table-cell;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  form {
    font-size: 1.7rem;
    width: 18rem;
    padding: 2rem;
    height: 26rem;
    margin: 0 auto;
    border: 2px solid #a2f5ef;
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.registrationInput {
  font-size: 1.2rem;
  margin: 1.5rem 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  padding-left: 15px;
  width: 14.5rem;
  height: 2.5rem;
}

.registrationButtons {
  display: flex;
  justify-content: center;
}